@import "tailwindcss";

@theme {
    --color-brand-base: #F0EEE9;
    /* Cloud Dancer */
    --color-brand-accent: #2A9D8F;
    /* Transformative Teal */
    --color-brand-dark: #264653;
    /* Dark Charcoal */
    --color-brand-primary: #2A9D8F;
    --color-brand-secondary: #E9C46A;
    --color-brand-warning: #E76F51;

    --font-sans: "Outfit", system-ui, sans-serif;
    --font-logo: "Rajdhani", sans-serif;
}

@layer base {
    body {
        background-color: var(--color-brand-base);
        color: var(--color-brand-dark);
        font-family: var(--font-sans);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&family=Rajdhani:wght@500;700&display=swap');